
@import url('https://fonts.googleapis.com/css2?family=Sarabun:wght@300;400;600&display=swap');
body, html {
  height: 100%;
  margin: 0px;
  color:#181818;
  font-family: 'Sarabun', sans-serif;
  font-weight: 300;
  font-size: 1.3em;
  background-color: #D9433D;
  line-height: 1.5em;
}
#main{
	
  background-image: url(../img/bg.jpg);
  
  
  background-position: center center;
  
 
  background-repeat: no-repeat;

  background-attachment: fixed;
  
 
  background-size: cover;
  width: 100%;

   height:100h; 
}

.container{
	max-width: 1000px;
	margin: auto;
	padding: 0px 15px;
}

header{
	width: 100%;
	height: 320px;
	background-image: url(../img/head-bg.jpg);
  
  
  background-position: center center;
  
 
  background-repeat: no-repeat;

  /* background-attachment: fixed; */
  
 
  background-size: cover;
 
}
.flex-container {
  display: flex;
  flex-direction: row;
  
}

.flex-center{
	display: flex;
	justify-content: center; /* align horizontal */
	align-items: center; /* align vertical */
	height: 100vh;
}
.flex-container .flex-item{
	flex:1 ;
}
.flex-column {
    display: flex;
	flex-wrap:wrap;
	padding: 10px;
}
.no-padding{
	padding: 0px;
}
.padd-bottom{
	margin-bottom: 60px;
}
.flex-column .column-100 {
	flex-basis:100%;
	
}
.flex-column .column-50 {
	
	flex-basis:50%;
	
}
.flex-column .column-40 {
	
	flex-basis:40%;
}
.flex-column .column-30 {

	flex-basis:30%;
}
.flex-column .column-20 {
	
	flex-basis:20%;
}

.flex-column .column-25 {
	padding-top: 10px;
	padding-bottom: 10px;
	flex-basis:25%;
}
.flex-column .column-10 {
	
	flex-basis:10%;
}
.line-red{
  margin: 50px 0px;
  border-top: 5px solid #cc3333;
  height: 1px;
  line-height: 2em;
}
.logo{
	width: 250px;
}
.img-responsive{
	width: 100%;
	height: auto;
}
.login-box{
	width: 100%;
	/* height: 100%; */
	background-color: #FFFFFF;
	border-top-right-radius: 20px;
	border-top-left-radius: 20px;
	padding: 60px 20px 80px 20px;
	display: block;
	margin-left: 15px;
	margin-right: 15px;
	/* width: 320px; */
	margin-bottom: 80px;

	-webkit-box-shadow: 3px 6px 6px 6px rgba(0, 0, 0, 0.2);  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow:    3px 3px 6px 6px rgba(0, 0, 0, 0.2);  /* Firefox 3.5 - 3.6 */
  box-shadow:        2px 2px 6px 6px rgba(0, 0, 0, 0.2); 
  border: 1px solid#ccc;
}

img ,div{
    
    vertical-align: middle;
    
}

.card{
	/* width: 100%; */
	background-color: #FFFFFF;
	border-radius: 10px;
	
	/* padding:  10px ; */
	display: block;
	/* margin-left: 15px;
	margin-right: 15px; */
	/* width: 320px; */
	margin-bottom: 20px;
	-webkit-box-shadow: 3px 6px 6px 6px rgba(0, 0, 0, 0.2);  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow:    3px 3px 6px 6px rgba(0, 0, 0, 0.2);  /* Firefox 3.5 - 3.6 */
  box-shadow:        2px 2px 6px 6px rgba(0, 0, 0, 0.2); 
  border: 1px solid#ccc;
}

.login-box h2{
	font-size: 60px;
	/* padding: 20px 0px; */
	/* padding-bottom: 0px; */
    margin-top: 0px;
}
.text-center{
	text-align: center;
}
.text-right{
	text-align: right;
}
.text-left{
	text-align: left;
}
.text-red{
	color:#cc3333;
}
.text-white{
	color:#FFF;
}

.text-green{
	color:#339900;
}
.text-bold{
	font-weight: bold;
}
.button{
	display: block;
	border-radius: 10px;
	font-family: 'Sarabun', sans-serif;
	font-size: 1em;
	padding: 15px 15px 15px 15px;
	margin-bottom: 30px;
	text-align: center;
	background-color: #cc3333;
	color:#FFF;
	
}

.clear-20{
	clear: both;
	height: 20px;
}
.clear-40{
	clear: both;
	height: 40px;
}

.border-bottom{
	border-bottom: 1px solid#EEEEEE;
	padding-bottom: 10px ;
}
.border-bottom-menu{
	border-bottom: 1px solid#cccccc;
	padding-bottom: 10px ;
}
.input{
	
	display: block;
	border-radius: 10px;
	background-color: #f8f9fb;
	border:1px solid #cccccc;
	padding: 15px 15px 15px 15px;
	width: 95%;
	 font-family: 'Sarabun', sans-serif;
	font-size: 1em;
	margin-bottom: 30px;
	font-weight: 300;
}

.input-search{
	font-family: 'Sarabun', sans-serif;
	font-size: 0.9em;
	border-radius: 5px;
	padding: 5px 10px 5px 25px;
	background-color: #f8f9fb;
	border:1px solid #cccccc;
	margin-top: 10px;
	width: 200px;
}
.form-icon{
	position: relative;
	width: 100%;
}
.form-icon .icon-right{
	position: absolute;
	right: 2%;
	top:25%;
}
.form-icon .icon-left{
	position: absolute;
	right:210px;
	top:40%;
}
.form-icon .icon-right img{
	width: 48px;
	height: auto;
}
a.red:link, a.red:visited{
 color: #cc3333;
}
a:link, a:visited{
	text-decoration: none;
	color: #181818;
}
 a:hover{
	 color:#181818;
 }
a.button{
	color: #FFF;
}

.p-l-10{
	padding-left: 10px;
}

.p-l-20{
	padding-left: 20px;
}

.p-l-25{
	padding-left: 25px;
}
.p-y-10{
 padding-top: 10px;
 padding-bottom: 10px;
}
.p-y-20{
	padding-top: 20px;
	padding-bottom: 20px;
   }
.menu-left{
	width: 35%;
	/* min-height: 500px; */
	height: 100%;
	background-color: #eeeeee;
	position: fixed;
	top: 0;
	left: 0;
  /* width: 100% */
	border-right: 1px solid#ccc;
	 display: none;  
	 /* ปิดไว้ */
}
.bar-footer{
	height: 110px;
	background-color: #FFF;
	width: 100%;
	position: fixed;
	left: 0;
	bottom: 0;
	-webkit-box-shadow: 3px 6px 6px 6px rgba(0, 0, 0, 0.2);  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow:    3px 3px 6px 6px rgba(0, 0, 0, 0.2);  /* Firefox 3.5 - 3.6 */
  box-shadow:        2px 2px 6px 6px rgba(0, 0, 0, 0.2); 
  
}
.bar-footer .column-25{
	border-top: 10px solid #FFF;
	background-color: #FFF;
}
.bar-footer .column-25.active{
	border-top: 10px  solid #02bea5;
	background-color: #EEEEEE;
}
.file-block{
	background-color: #EEEEEE;
	border-left: 10px  solid #d84741;
	padding: 10px;
	margin-top: 15px;
}

.file-block :hover,.file-block :active{
	-webkit-box-shadow: 3px 6px 6px 6px rgba(0, 0, 0, 0.2);  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow:    3px 3px 6px 6px rgba(0, 0, 0, 0.2);  /* Firefox 3.5 - 3.6 */
  box-shadow:        2px 2px 6px 6px rgba(0, 0, 0, 0.2); 
}

@media only screen and (max-width: 1024px) {
	#main{
		background-size:cover;
		/* height:100%; */
	}
	body, html {
		font-size: 1.2em;
		height: 100h;
	   
	  }
	  .bar-footer{
		height: 100px;
	}
}

@media only screen and (max-width: 768px) {
	#main{
		background-size:cover;
		/* height:100vh; */
	}
	header{
		width: 100%;
		height: 220px;
		}
		body, html {
			font-size: 1.1em;
			height: 100h;
		   
		  }
		  .input-search{
			width: 130px;
		}
		.form-icon .icon-left{
			right: 140px;
		}
		.menu-left{
			width: 75%;
		}
		.bar-footer{
			height: 90px;
		}
}

@media only screen and (max-width: 440px) {
	.bar-footer{
		height: 90px;
	}
	.menu-left{
		width: 75%;
		height: 100%;
	}
	.flex-column .column-m-100 {
		flex-basis:100% !important;
	}
	
	.flex-column .column-m-60 {
		flex-basis:60%;
		
	}
	.flex-column .column-m-70 {
		flex-basis:70%;
		
	}
	.flex-column .column-m-80 {
		flex-basis:80%;
		
	}
	.flex-column .column-m-90 {
		flex-basis:90%;
		
	}
	.flex-column .column-m-50 {
		flex-basis:50%;
		
	}
	.flex-column .column-m-40 {
		flex-basis:40%;
	}
	.flex-column .column-m-30 {
		flex-basis:30%;
	}
	.flex-column .column-m-20 {
		flex-basis:20%;
	}
	.flex-column .column-m-10 {
		flex-basis:10%;
	}
	.flex-column .column-m-15 {
		flex-basis:15%;
	}
	.text-m-left {
		/* padding-left: 22px; */
		text-align: left;
	}
	body, html {
	  font-size: 1em;
	  height: 100h;
	 
	}
	#main{
		background-size:  cover;
		 height:100h; 
		
		 
	}
	.login-box{
		margin: 0px;
	}
	.input{
		width: 90%;
	}
	.login-box h2{
		font-size: 48px;
		/* padding: 20px 0px; */
		/* padding-bottom: 0px; */
		margin-top: 0px;
	}
	.line-red{
		margin: 35px 0px;
		border-top: 5px solid #cc3333;
		height: 1px;
		line-height: 2em;
	  }

	  header{
		width: 100%;
		height: 150px;
		}
		.input-search{
			width: 100px;
		}
		.form-icon .icon-left{
			right: 110px;
		}
}









